/whats_analysis/__pycache__
.spyproject

/whats_analysis/Chats/*.txt
!/whats_analysis/Chats/empty.txt

/whats_analysis/results/*
!/whats_analysis/results/empty.txt

/whats_analysis/large/*
!/whats_analysis/large/empty.txt

/whats_analysis/resources/*
!/whats_analysis/resources/message_types.txt
!/whats_analysis/resources/unicode\ symbols

/wa_web/node_modules
!/wa_web/node_modules/showdown/dist/showdown.min.js

*.code-workspace

_temp/
*/_temp.*

/wa_desktop/node_modules
