:root {
	--cp_back: #222831;
	--cp_main: #253039;
	--cp_light: #30475e;
	--cp_contrast: #f2a365;
	--cp_lowsat: #cccccc;
	--cp_lowsat2: #ececec;
}

body {
	background-color: var(--cp_back);
	font-family: sans;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--cp_lowsat);
}

.Select.contrast > .Select-control, .Select.contrast > .Select-menu-outer {
	background-color: var(--cp_main);
	border-color: var(--cp_light);
	border-radius: 3px;
	border-width: 2px;
}

.Select.contrast > .Select-menu-outer > div > div > div > div > .VirtualizedSelectOption {
	color: var(--cp_lowsat);
}

.Select.contrast > .Select-control > div > .Select-value > .Select-value-label {
	color: var(--cp_lowsat) !important;
}

.column {
	float: left;
	width: 50%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}