#setup-text {
    padding-top: 2rem;
    font-size: 150%;
    font-family: 'News Cycle', sans-serif;
    text-align: left;
    margin-left: 2%;
}

#setup-prereq-list {
    font-size: 80%;
    margin-left: 2%;
    font-family: 'Titillium Web', sans-serif;
}